.footer-line {
    margin-top: 62px;
    background-color: #e6eaed;
    height: 1px;
}
.footer {
    flex: 0 0 auto;
    background: #ffffff;
    padding: 33px 0 41px 0;
}
.footer__social {
    display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    word-spacing: 20px;
}
.footer__logo {
    float: right;
    font-size: 13px;
    font-weight: 400px;
    color: #b9c0c6;
    font-family: 'open-sans';
}