.main-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex: 1 0 auto;
}

.main__about {
    display: flex;
    justify-content: space-between;
}

.main__about-point {
    color: #fa5c65
}

.main__about h3 {
    font-size: 26px;
    color: #465065;
    font-weight: 700;
    text-transform: uppercase;
    padding: 70px 0 20px 0;
    line-height: 26px;
}

.main__about p {
    font-size: 15px;
    font-weight: 400;
    color: #9aa0ab;
    font-family: "Open Sans";
}

.link__more-arow {
    display: inline;
}

.link__more p {
    color: #fa5c65;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
}

.link__more-arow {
    padding-left: 7px;
}




@media (max-width: 767px) {
    .main__about {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}